@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.158);
    font-family: 'Orbitron', sans-serif;
}

.container .welcome {
    width: 100%;
    height: 17rem;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}
span{
    color: #cb2b2b;
}

.container .welcome .title {
    font-size: 70px;
    height: 100%;
    font-weight: bold;
    width: 50%;
    display: flex;
    align-items:center;
    /* background-color: blue; */
    text-align: right;
    padding-left: 30px;
}

.container .welcome .ship {
    width: 50%;
    height: 100% ;
    display: flex;
    /* background-color:red; */
    justify-content: left;
    
}

.container .welcome .ship img {
    width: 130%;
    height: 130%;
    display: flex;
    justify-content: left;
}

.description {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.description .text-dtion {
    
    width: 75%;
    margin: auto;
    line-height: 30px;
    background-color: rgba(255, 255, 255, 0.411);
    padding: 2rem;
}

.buttons {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    
}

.buttons .buy{
    width: 30%;
    height: 60%;
    border-radius: 12px;
    border: none;
    background-color: #cb2b2b;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    font-weight:500;
}

.buttons .how{
    width: 30%;
    height: 60%;
    border-radius: 12px;
    border: none;
    background-color: rgba(255, 255, 255, 0.411);
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    font-weight:500;
}