@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,900&display=swap');

* {
    color: white;
}
.navbar {

    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    background-color: #434141;
}

.relicToken {
    width: 30%;
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.navbar-nav {
    width: 55%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.button {
    border-radius: 12px;
    background-color: #cb2b2b;
    border: none;
    height: 30px;
    width: 70px;
    
}
.button:hover {
    border-radius: 12px;
    background-color: #831313;
    border: none;
    height: 30px;
    width: 70px;
    
}